.skip-to-content {
    position: absolute;
    top: 50px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px 16px;
    z-index: 100;
    text-decoration: none;
    display: none;
}

.skip-to-content:focus {
    top: 0;
}